* {
    font-family: 'Cascadia Code', sans-serif;
    transition: 0.25s;
    user-select: none;
}

h5 {
    font-weight: bolder;
}

.main-section {
    display: flex;
}

.left-section {
    width: 70%;
}

.right-section {
    width: 30%;
}

@media (max-width: 1000px) {
    .left-section {
        width: 60%;
    }

    .right-section {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .main-section {
        display: block;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
}

.page-cover {
    width: 100%;
}

.page-title {
    display: flex;
    align-items: center;
}

.page-icon {
    font-size: 400%;
    padding-right: 2.5%;
}

.title-text,
.header {
    font-weight: 600;
}

.todo-status {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
}

.red-status,
.green-status {
    width: 450px;
    flex: 0 0 auto;
}

.red-status {
    background-color: rgb(36, 30, 29);
}

.green-status {
    background-color: rgb(29, 34, 32);
}

.tab-text,
.add-task-text {
    display: inline;
}

.red-tab,
.green-tab {
    width: fit-content;
}

.red-tab {
    background-color: rgb(110, 54, 48);
}

.red-tab-icon {
    color: rgb(205, 73, 69);
}

.green-tab {
    background-color: rgb(43, 89, 63);
}

.green-tab-icon {
    color: rgb(45, 153, 100);
}

.red-task,
.green-task,
.add-task {
    cursor: pointer;
}

.red-task {
    background-color: rgb(62, 40, 37);
}

.red-task:hover {
    background-color: rgb(110, 54, 48);
}

.green-task {
    background-color: rgb(35, 49, 42);
    cursor: pointer;
}

.green-task:hover {
    background-color: rgb(43, 89, 63);
}

.add-task {
    cursor: pointer;
}

.add-task:hover {
    background-color: rgb(62, 40, 37);
}

.add-task-text {
    color: rgb(110, 54, 48);
}

.sd-button,
.aap-button,
.nsm-button,
.sl-button,
.cs-button {
    border: none;
    text-align: left;
}

.sd-button {
    background-color: rgb(50, 50, 50);
}

.sd-button:hover {
    background-color: rgb(75, 75, 75);
}

.aap-button {
    background-color: rgb(62, 40, 37);
}

.aap-button:hover {
    background-color: rgb(110, 54, 48);
}

.nsm-button {
    background-color: rgb(35, 49, 42);
}

.nsm-button:hover {
    background-color: rgb(43, 89, 63);
}

.sl-button {
    background-color: rgb(27, 45, 56);
}

.sl-button:hover {
    background-color: rgb(40, 69, 108);
}

.cs-button {
    background-color: rgb(48, 39, 57);
}

.cs-button:hover {
    background-color: rgb(73, 47, 100);
}

.student-info {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 12.5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: darkgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 75, 75);
}